<!--
 * @Author: your name
 * @Date: 2021-01-12 16:09:58
 * @LastEditTime: 2021-01-13 11:56:17
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \leetcodei:\python-workspace\awsome-python-web\www\templates\register.html
-->
{% extends '__base__.html' %}

{% block title %}无权限{% endblock %}

{% block beforehead %}

<script>
    // $(function () {
    //     var vm = new Vue({
    //         el: '#vm',
    //         data: {

    //         },
    //         methods: {

    //         }
    //     });
    // });
</script>

{% endblock %}

{% block content %}

<div style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <img src="../static/img/no-auth.png" />
</div>

{% endblock %}